body {
  text-align: center;
}

h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

h4 {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
}

a {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

footer {
  background-color: dimgray;
  color: white;
  font-family: Helvetica;
  text-align: left;
}

copyright {
  font-size: 11px;
}

.background {
  background-image: url(../the-flatiron-building.png);
  color: white;
}
